name: C/C++ CI

on:
  workflow_dispatch:
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install_dependencies
      run: |
        sudo add-apt-repository -y "deb http://archive.ubuntu.com/ubuntu `lsb_release -sc` main universe restricted multiverse"
        sudo apt-get update -y -qq
        sudo apt-get install libsdl2-dev libsdl2-image-dev libjxl-dev libyuv-dev libspdlog-dev
    - name: prepare
      run: mkdir -p build
    - name: CMake
      run: cd build; cmake .. 
    - name: Make
      run: cd build; make -j
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: build/AsteroidShooter